*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home Page  */
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar .social-links i{
    padding: 0.5rem;
    /* border: 2px solid blue; */
}

.navbar .social-links i:hover{
    border-radius: 50%;
    background-color:darkblue;
    color: white;
   
}
.imgBanner{
    position: absolute;
    top: 35%;
    left: -4%;
    color: black;

}
.navbar .navbar-nav .nav-item {
    padding:  1rem;
}
.navbar .nav-link.active {
    font-weight: bold;
    color: darkblue !important;
}

.navbar .navbar-nav .nav-link{
    color: black;
  
}

#homePage .nav-link{
    position: relative;
}

/* Social Links  */
.social-links li{
    list-style: none;
}
.social-links i{
    color: black;
    font-size: 2rem;
}
.About_wrapper{
    background-color: #F1E5D1;
}

.About_page h3,
.Conclave_wrapper h3,
.Achievement_wrapper h3{
    position: relative;
    text-transform: uppercase;
    font-weight: 600;
}
.About_page h3:before,
.Conclave_wrapper h3:before,
.Achievement_wrapper h3:before{
    content: '';
    border-left: 4px solid rgb(13, 13, 104);
    height: 30px;
    position: absolute;
    top: 0;
    left: -12px;
}

.About_page .about_video{
    width: 100%;
    height: 200px;
}


/* Achievement_wrapper  */
.Achievement_wrapper .nav-tabs h6{
text-transform: uppercase;
font-weight: normal;
}
.Achievement_wrapper .nav-tabs{
    border-bottom: none;
}
.Achievement_wrapper .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link,
.Achievement_wrapper .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{
    border-color:none !important;
}

.Achievement_wrapper .tab_box{
    height: 80px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-image: url('../../public/Images/gal4.jpg');
    margin-top: 0.75rem;
    border-radius: 0.25rem;
}

/* Footer  */
.footer{
    background-color: rgb(18, 18, 124);
    color: white;
}
.footer li{
    list-style: none;
    border-top: 2px solid rgba(163, 160, 160, 0.6);
    padding: 5px 0;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.footer li:hover{
    color: red;
    border-bottom: 2px solid red;
  
}

@media(max-width:991px) {
    .nav-item {
        padding: 0.25rem;
    }
    .nav-link{
        padding: 0.5rem !important;
    }
}
/* Responsiveness  */
@media(max-width:768px){
    .nav-item {
        padding: 0.25rem;
    }
    .nav-link{
        padding: 0.5rem !important;
    }
    /* .Achievement_wrapper  */
    .Achievement_wrapper .achiv_para{
        font-size: 1.25rem;
    }
}